$color-blue: #0083df;
$color-pink: #d400b6;
$color-grey: #c8c8c8;
$color-light-grey: #f3f3f3;
$color-black: #000;
$color-white: #fff;
$color-dark-blue: #2e3d66;

@mixin only-object {
	margin: 0;
	padding: 0;
}

.right-container {
	font-family: Sans, Arial;
	text-align: left;
	> h2 {
		font-size: 23px;
		line-height: 20px;
		font-weight: normal;
		color: $color-pink;
	}
	a {
		color: $color-blue;
		text-decoration: none;
		padding-left: 2px;
		&:hover {
			color: $color-pink;
			text-decoration: underline;
		}
		&.active {
			color: $color-grey;
		}
		&.cubes:after, &.list:after {
			content: "  ";
			display: inline-block;
			width: 21px;
			height: 21px;
			position: relative;
			top: 5px;
			background-repeat: none;
			background-image: url('/images/list-block.png');
		}
		&.cubes.active:after {
			background-position: 0 0;
			width: 21px;
		}
		&.cubes:after {
			background-position: -22px 0;
			width: 22px;
		}
		&.list.active:after {
			background-position: 0 -21px;
			height: 19px;
		}
		&.list:after {
			background-position: -21px -21px;
			height: 19px;
		}
	}
	> .view {
		background-color: $color-light-grey;
		border-radius: 5px;
		padding: 12px 30px 12px 20px;
		* {
			display: inline;
		}
		p {
			color: $color-black;
			@include only-object;
		}
		a {
			&:last-child {
				float: right;
			}
		}
	}
	> .products {
		margin: 30px auto;
		width: 790px;
		display: block;
		> .product {
			padding: 18px 190px 20px 200px;
			position: relative;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-shadow: 0 0 10px #aaa;
			background-color: $color-white;
			border-radius: 5px;
			display: block;
			margin-bottom: 30px;
			text-align: center;
			min-height: 190px;
			h2 {
				font-size: 15px;
				line-height: 20px;
				color: $color-black;
				@include only-object;
				display: inline-block;
				float: left;
			}
			> p {
				color: $color-pink;
				text-align: center;
				display: inline-block;
				float: right;
				@include only-object;
			}
			.description {
				padding-top: 25px;
				text-align: left;
				font-size: 18px;
			}
			.image {
				position: absolute;
				top: 10px;
				left: 0;
				width: 200px;
				margin: 10px 0;
				> div {
					position: absolute;
					left: 0px;
					width: 30px;
					height: 100%;
					div {
						display: table-cell;
						height: 130px;
						vertical-align: middle;
						img {
							display: inline;
						}
					}
				}
			}
			.spanner {
				@include only-object;
				border-spacing: 10px;
				position: absolute;
				right: 25px;
				top: 25px;
				width: 120px;
				height: 90px;
				font-size: 18px;
				> div {
					padding-bottom: 25px;
				}
				> div > * {
					display: inline-block;
					color: $color-dark-blue;
					font-size: 18px;
					font-style: italic;
					font-weight: bold;
					@include only-object;
				}
				i.icon-info {
					padding-right: 2px;
					position: relative;
					top: -2px;
					a.info {
						&:hover {
							text-decoration: none;
						}
					}
				}
				.buy {
					width: 80px;
					font-size: 20px;
					text-transform: uppercase;
					font-style: normal;
					font-weight: bold;
					color: $color-white;
					padding: 5px 12px;
				}
			}
		}
		> .paginator-wrapper {
			width: 100%;
			text-align: center;
			.paginator {
				list-style: none;
				display: inline;
				margin: 0 auto;
				li {
					font-weight: bold;
					display: inline;
					&:nth-child(2-n) a, &:nth-last-child(2-n) a {
						color: $color-dark-blue;
					}
					&.quote a {
						color: $color-dark-blue;
					}
				}
			}
		}
	}
}

