footer
	bottom: 0
	height: 285px
	width: 100%
	min-width: 1079px
	background-image: linear-gradient(to bottom, #4d566f, #6b748d)
	color: #ffffff
	padding-top: 45px

i.up-arrow
	background: url(../images/icons.png) -59px -30px no-repeat
	position: absolute
	width: 15px
	height: 15px
	top: 5px
	right: 0

i.up-arrow-blue
	background: url(../images/icons.png) -125px -14px no-repeat
	position: absolute
	width: 15px
	height: 15px
	top: 5px
	right: 0

.footer-content
	margin: 0 auto
	height: 285px
	width: 1079px
table.big-list
	font-family: 'Verdana'
	float: right
	th
		text-align: left
		font-size: 10pt
		min-width: 185px
	th:last-child
		min-width: 90px
	td
		font-size: 9pt
		text-align: left
	a
		color: #ffffff
	a:hover
		text-decoration: underline
.footer-top
	margin-bottom: 35px
	ul.header-menu
		float: right
		li
			margin-right: 40px
			a
				font-size: 10pt
				font-family: arial
				color: #ffffff
		li:last-child
			margin-right: 20px
.footer-middle
	.info-block
		float: left
		font-family: 'Verdana'
		font-size: 10pt
		text-align: left
		p
			display: inline
		span.number
			font-weight: bold
		a
			color: #ffffff
			text-decoration: underline
.footer-bottom
	width: 100%
	font-size: 9pt
	.left
		padding-top: 60px
		float: left
	.right
		padding-top: 50px
		float: right
		a
			text-decoration: underline
			color: #ffffff
			position: relative
			padding-right: 40px
			display: inline-block
			i.logo-Magnaweb
				background: url(../images/logo-magnaweb.png) 0 0 no-repeat
				position: absolute
				right: 0
				top: -5px
				width: 35px
				height: 35px
.footer-content
	.footer-top
		.dropdown-menu
			bottom: 30px
			top: auto
			left: -400px
			.head
				width: 120px
				top: auto
				bottom: -31px
				left: 400px
				border-color: #ffffff #dbdfeb #dbdfeb #dbdfeb
				border-top-right-radius: 4px
				-moz-border-radius-bottomleft: 4px
				-webkit-border-bottom-left-radius: 4px
				border-bottom-left-radius: 4px
				-moz-border-radius-bottomight: 4px
				-webkit-border-bottom-right-radius: 4px
				border-top-right-radius: 0
				-moz-border-radius-topleft: 0
				-webkit-border-top-left-radius: 0
				border-top-left-radius: 0
				-moz-border-radius-topright: 0
				-webkit-border-top-right-radius: 0
			a
				color: #2e3d66