footer
	bottom: 0
	height: 285px
	width: 100%
	min-width: 1079px
	background-image: linear-gradient(to bottom, #4d566f, #6b748d)
	color: #ffffff
	padding-top: 45px

.footer-content
	margin: 0 auto
	height: 285px
	width: 1079px
table.big-list
	font-family: 'Verdana'
	float: right
	th
		text-align: left
		font-size: 10pt
		min-width: 185px
	th:last-child
		min-width: 90px
	td
		font-size: 9pt
		text-align: left
.footer-top
	margin-bottom: 35px
	ul.header-menu
		margin-left: 50px
		float: right
		li
			a
				font-size: 10pt
				font-family: arial
				color: #ffffff
		li:last-child
			margin-right: 40px
.footer-middle
	.info-block
		float: left
		font-family: 'Verdana'
		font-size: 10pt
		text-align: left
		p
			display: inline
		span.number
			font-weight: bold