header
	height: 135px
	width: 100%
	min-width: 1079px
	position: absolute
	top: 0
	padding-top: 45px
	background-image: linear-gradient(to bottom, #ffffff, #e0e0e0)


.header-content
	width: 1079px
	height: 135px
	margin: 0 auto
i.right-arrow
	background: url(../images/icons.png) -5px -3px no-repeat
	width: 10px
	height: 10px
	display: inline-block
	margin-top: 8px
	margin-left: 5px

i.plus
	background: url(../images/icons.png) -124px -3px no-repeat
	width: 10px
	height: 10px
	display: inline-block
	margin-top: 8px
	margin-left: 5px

i.loupe
	background: url(../images/icons.png) -16px -2px no-repeat
	width: 20px
	height: 20px
	display: inline-block

.button
	background-image: linear-gradient(to bottom, #5b6685, #4d5877)
	box-shadow: 0px 0px 10px #e2e2e2, 0px -1px #4d5877
	border-width: 0px
	border-radius: 4px
	color: #ffffff
	font-size: 11pt
	padding: 2px 20px 2px 20px
	line-height: 20px




.top-container
	.left
		float: left
		margin-right: 30px
	.middle
		span.number-code, span.number
			font-size: 25pt
			font-family: OpenSans-BoldItalic
		span.number-code
			color: #5e6989
		#order-call, span.number-code, span.number
			display: inline
		#search
			width: 420px
			margin-top: 15px
			margin-bottom: 0
			height: 16px
		#search-head
			margin-top: 15px
		#order-call
			margin-bottom: 5px
			margin-right: 25px
		.typeahead.dropdown-menu
			width: 432px !important
			margin-top: 15px
			border-top-right-radius: 0
			-moz-border-radius-topleft: 0
			-webkit-border-top-left-radius: 0
			border-top-left-radius: 0
			-moz-border-radius-topright: 0
			-webkit-border-top-right-radius: 0
			li
				text-align: left
				font-family: 'Verdana'
				padding-left: 10px
				padding-right: 10px
				a
					border-bottom: 1px solid #dbdfeb
					padding-right: 3px
					padding-left: 3px

			li:last-child
				a
					border-bottom-width: 0px
	.right
		float: right
		width: 215px
		text-align: right
		position: relative
		i.basket
			background: url(../images/icons.png) -75px -3px no-repeat
			display: inline-block
			width: 45px
			height: 45px
			float: left
			margin: 5px
			position: absolute
			left: 0
		p
			margin: 5px
.bottom-menu-container, .footer-top
	height: 45px
	line-height: 45px
	ul.header-menu
		font-family: 'OpenSans-semibold'
		float: left
		list-style-type: none
		margin-left: 5px
		li
			float: left
			display: inline
			margin: 10px 50px 10px 5px
			padding: 5px
		li.open
			border: 1px solid
			border-color: #dbdfeb #dbdfeb #ffffff #dbdfeb
			background-color: #ffffff
			border-top-right-radius: 4px
			-moz-border-radius-topleft: 4px
			-webkit-border-top-left-radius: 4px
			border-top-left-radius: 4px
			-moz-border-radius-topright: 4px
			-webkit-border-top-right-radius: 4px
		a
			color: #2e3d66
			font-weight: bold
			font-size: 13pt
		li:last-child
			margin-right: 0
.bottom-menu-container
	ul.header-menu
		position: absolute
		top: 130px
li
	div.dropdown-menu
		text-align: left
		padding: 30px
		left: -168px
		border-color: #dbdfeb
		h4
			font-size: 12pt
table#dropdown-table
	td
		min-width: 185px
		a
			font-family: 'verdana'
			font-size: 11pt
			font-weight: lighter
			color: #0083df
a.reg
	display: block
	float: left
	margin-left: 40px