header
	height: 135px
	width: 100%
	min-width: 1079px
	position: absolute
	top: 0
	padding-top: 45px
	background-image: linear-gradient(to bottom, #ffffff, #e0e0e0)


.header-content
	width: 1079px
	height: 135px
	margin: 0 auto
i.right-arrow
	background: url(../images/icons.png) -1px -3px no-repeat
	width: 10px
	height: 10px
	display: inline-block
	margin-top: 0

i.plus
	background: url(../images/icons.png) -124px -3px no-repeat
	width: 10px
	height: 10px
	display: inline-block
	margin-top: 8px

i.loupe
	background: url(../images/icons.png) -16px -2px no-repeat
	width: 20px
	height: 20px
	display: inline-block
	vertical-align: middle
	right: 4px
	top: 5px

i.man
	background: url(../images/signed_in_icons.png) -2px -2px no-repeat
	position: absolute
	width: 20px
	height: 20px
	left: 0
	top: 0

i.exit
	background: url(../images/signed_in_icons.png) -22px -2px no-repeat
	position: absolute
	width: 20px
	height: 20px
	right: 0
	top: 0

i.down-arrow
	background: url(../images/icons.png)-40px -30px no-repeat
	position: absolute
	width: 15px
	height: 15px
	top: 7px
	right: 0

i.kazah
	background: url(../images/icons.png) -40px -4px no-repeat
	display: inline-block
	position: relative
	margin-top: 1px
	width: 30px
	height: 16px

div.kazah
	float: right
	width: 70px
	padding-top: 5px
	line-height: 18px
	a
		vertical-align: top
		font-family: OpenSans-semibold
		font-size: 18px
	i
		vertical-align: top

.signed-in
	padding-top: 7px

.not-signed-in
	display: none

#search-head i.loupe.head-loupe
	top: 3px

.button
	background-color: #5b6685
	background-image: linear-gradient(to bottom, #5b6685, #4d5877)
	border-width: 0px
	border-top: 2px solid #67708c
	border-radius: 4px
	color: #ffffff
	font-size: 11pt
	padding: 2px 20px 4px 20px
	line-height: 20px
	vertical-align: top


.with-icon
	position: relative
	display: inline-block

.with-icon.left-in
	padding-left: 20px
	margin-left: -50px
	float: left
.with-icon.right-in
	padding-right: 20px
	float: right

.top-container
	.left
		float: left
		margin-right: 30px
	.middle
		span.number-code, span.number
			font-size: 40px
			line-height: 40px
			font-family: OpenSans-BoldItalic
		span.number-code
			color: #5e6989
			margin-left: 40px
		#order-call, span.number-code, span.number
			display: inline
		#search
			width: 420px
			margin-top: 15px
			margin-bottom: 0
			height: 16px
		#search-head
			position: relative
			padding-right: 10px
			margin-top: 13px
			padding-bottom: 3px
		#callback_request
			margin-top: 5px
		.typeahead.dropdown-menu
			width: 432px !important
			margin-top: 15px
			border-top-right-radius: 0
			-moz-border-radius-topleft: 0
			-webkit-border-top-left-radius: 0
			border-top-left-radius: 0
			-moz-border-radius-topright: 0
			-webkit-border-top-right-radius: 0
			i.right-arrow
				position: absolute
				top: 7px
				right: 5px
			li
				text-align: left
				font-family: 'Verdana'
				padding-left: 10px
				padding-right: 10px
				a
					font-family: Verdana
					font-weight: normal
					font-size: 15px
					position: relative
					border-bottom: 1px solid #dbdfeb
					padding-right: 3px
					padding-left: 3px

			li:last-child
				a
					border-bottom-width: 0px
	.right
		float: right
		width: 170px
		text-align: left
		position: relative
		i.basket
			background: url(../images/icons.png) -75px -3px no-repeat
			display: inline-block
			width: 45px
			height: 40px
			float: left
			margin-top: 5px
			margin-left: -55px
		p
			margin: 0px
		a.mini
			display: block
			font-size: 11px

.bottom-menu-container, .footer-top
	height: 45px
	line-height: 45px
	ul.header-menu
		font-family: 'OpenSans-semibold'
		float: left
		list-style-type: none
		margin-left: 0px
		li
			float: left
			display: inline
			margin: 0px 42px 0px 5px
			padding: 5px 0
		a
			color: #2e3d66
			font-family: OpenSans-semibold
			font-weight: normal
			font-size: 18px
		a.header-menu.dropdown-toggle
			position: relative
			display: inline-block
			padding-right: 20px
		li:last-child
			margin-right: 0

li
	div.dropdown-menu
		top: 90%
		text-align: left
		padding: 30px
		left: -168px
		width: 774px
		border-color: #dbdfeb
		h4
			font-size: 16px
			font-weight: bold
			color: #424343
table#dropdown-table
	td
		padding-right: 40px
		a
			font-family: Verdana
			font-size: 13px
			line-height: 22px
			font-weight: lighter
			color: #0083df
a.reg
	display: block
	float: left
.head
	background-color: #ffffff
	position: absolute
	top: -31px
	left: 167px
	width: 130px
	height: 20px
	padding: 5px
	border: 1px solid
	border-color: #dbdfeb #dbdfeb #ffffff #dbdfeb
	background-color: #ffffff
	border-top-right-radius: 4px
	-moz-border-radius-topleft: 4px
	-webkit-border-top-left-radius: 4px
	border-top-left-radius: 4px
	-moz-border-radius-topright: 4px
	-webkit-border-top-right-radius: 4px