@font-face
	font-family: 'OpenSans-Bold'
	src: url('fonts/OpenSans-Bold-webfont.eot?#iefix')

@font-face
	font-family: 'OpenSans-semiboldItalic'
	src: url('fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix')


@font-face
	font-family: "OpenSans-semibold"
	src: url('fonts/opensans-semibold.eot?#iefix')

@font-face
	font-family: "OpenSans-BoldItalic"
	src: url('fonts/opensans-bolditalic.eot?#iefix')


@import "ie/catalog"


html.lt-ie10
	.header
		background-image: url(../images/big_main_fon.png)
		background-position: left bottom
		background-repeat: repeat-x
		.slideup_info
			.elem
				background-color: rgb(95, 106, 138)

html.lt-ie9
	.header
		.header-content
			.header-menu
				li
					margin-right: 42px
		div.kazah
			margin-left: -44px

html.lt-ie8

