@font-face
	font-family: OpenSans
	src: url(OpenSans-Semibold.ttf)

@font-face
	font-family: OpenSansItalic
	src: url(OpenSans-SemiboldItalic.ttf)


@import "gallery.css.sass"

html,
body
	font-family: OpenSans
	margin: 0
	padding: 0

a
	color: #0083df
	font-family: Verdana, sans-serif
	text-decoration: none

a:hover
	text-decoration: underline

header
	position: relative
	height: auto
	background-image: linear-gradient(to top, #e0e0e0, #fff)
	overflow: hidden

	.slideup_info
		position: relative
		width: 1080px
		margin: 0 auto
		z-index: 2

		.elem
			position: relative
			display: inline-block
			width: 180px
			height: 10px
			padding: 12px 10px
			margin: 0px 12px -5px 0px
			border-radius: 5px 5px 0 0
			background: #707a98 linear-gradient(to bottom, #4b5575 0px, #707a98 150px)
			overflow: hidden
			color: #fff
			vertical-align: top

			-o-transition: all 0.5s linear 0
			-moz-transition: all 0.5s linear 0
			-webkit-transition: all 0.5s linear 0
			transition: all 0.5s linear 0

			h3
				margin: -8px 0 0 0
				line-height: initial

				font-weight: normal
				font-size: 14px

				-o-transition: all 0.5s linear 0
				-moz-transition: all 0.5s linear 0
				-webkit-transition: all 0.5s linear 0
				transition: all 0.5s linear 0

			p
				margin-top: 5px
				font-size: 13px
				text-align: left
			img
				border-radius: 5px
				-o-transition: all 0.5s linear 0
				-moz-transition: all 0.5s linear 0
				-webkit-transition: all 0.5s linear 0
				transition: all 0.5s linear 0
			.img_before
				max-width: 100%
				max-height: 100%
				height: 0px
				display: block
				margin: 0 auto

		.elem:hover
			height: 220px
			margin-top: -203px
			margin-bottom: 0
			padding-bottom: 0
			.img_before
				height: 102px
			h3
				margin: 10px 0

.container
	width: 1080px
	margin: 0 auto
	position: relative
	z-index: 2
	background-color: #fff
	box-shadow: 0 -1px 1px #fff

	h3
		color: #d400b6
		font:
			family: OpenSans
			size: 21px
		line-height: initial

	.partners
		margin: 40px auto 0

		.left
			display: inline-block
			vertical-align: top
			text-align: center
			width: 200px

			.download_area
				height: 55px
				padding-top: 10px
				padding-left: 35px
				text-align: left
				border-radius: 5px
				background-color: #5f6a8a
				background-image: linear-gradient(to bottom, #4b5575, #5f6a8a)
				border-left: 1px solid #2f3545
				border-top: 1px solid #2f3545

				a
					position: relative
					color: #fff
					font-size: 14px
					text-decoration: none

				a:before
					position: absolute
					width: 9px
					height: 10px
					left: -18px
					top: 5px
					background-image: url(../images/download_link.png)
					content: ' '

				a:hover
					text-decoration: underline

		.right
			display: inline-block
			vertical-align: top
			width: 871px
			margin-left: 20px
			margin-right: -15px

			img
				vertical-align: middle
				margin-right: 20px
				margin-bottom: 10px

	.left-block
		display: inline-block
		margin-top: 10px
		vertical-align: top
		width: 200px

	.right-block
		display: inline-block
		margin-left: 30px
		margin-right: -40px
		text-align: left
		vertical-align: top
		width: 886px

		.about
			color: #424242
			padding: 20px 0
			margin-top: 40px
			text-align: justify
			line-height: 1.5
			font:
				family: Verdana, sans-serif
				size: 15px
			width: 836px

			.large
				font:
					family: OpenSansItalic
					size: 24px
				color: #606b8b
				margin-bottom: 20px
				line-height: 1

			.right
				text-align: right
				color: #d400b6
				font:
					family: OpenSans
					size: 18px

			.author
				color: #606b8b
				text-align: right
				font:
					family: OpenSansItalic
					size: 13px
