.news-wrapper
	width: 100%
	vertical-align: top
	display: inline-block
.paginator-wrapper
	width: 100%
	text-align: center
	.paginator
		list-style: none
		display: inline
		margin: 0 auto
		li
			display: inline
			margin: 0 7px 0 7px
		li.quotes
			a
				color: #6a7390
			a:hover
				color: #d400b6
.news-block
	margin-bottom: 15px
.image-block
	display: inline-block
	vertical-align: top
.text-block
	display: inline-block
	vertical-align: top
	width: 630px
	margin-left: 10px
	h5
		margin-top: 0
		a
			margin-left: 10px
	p
		margin-top: 0
