//= require fonts

.left-product-column
	border-radius: 5px
	box-shadow: 0 0 10px #aaa
	display: inline-block
	height: 400px
	margin: 20px 0
	vertical-align: top
	width: 405px

	#bx-product-gallery

		img
			width: 100%
			height: 100%

	#bx-product-gallery-control
		margin-top: 50px
		a
			border-radius: 5px
			display: inline-block
			margin: 4px 2px
			height: 72px
			width: 72px

			img
				width: 100%
				height: 100%

		a:hover
			text-decoration: none


.right-product-column
	display: inline-block
	height: 400px
	margin-left: 20px
	vertical-align: top
	width: 410px

	.furniture_info
		width: 100%

	.price-table
		vertical-align: middle
		td
			padding: 5px 10px

	.city
		width: 128px

	.price
		color: #5f6a8a
		font:
			style: italic
			weight: bold

	.product_field
		background-image: url(../images/store_count_back.png)
		display: inline-block
		position: relative
		height: 21px
		vertical-align: middle
		width: 9px * 9
		.product_count
			background-image: url(../images/store_count.png)
			position: absolute
			left: 0
			height: 21px
