!!!
/[if lt IE 7]   <html class="no-js lt-ie11 lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en-us">
/[if IE 7]      <html class="no-js lt-ie11 lt-ie10 lt-ie9 lt-ie8" lang="en-us">
/[if IE 8]      <html class="no-js lt-ie11 lt-ie10 lt-ie9" lang="en-us">
/[if IE 9]      <html class="no-js lt-ie11 lt-ie10" lang="en-us">
/[if IE 10]     <html class="no-js lt-ie11" lang="en-us">
/[if gt IE 10]   <html class="no-js" lang="en-us">
/[if !IE]>
%html{lang: 'en', class: 'no-js'}
	%head
		%meta(http-equiv="content-type" content="text/html" charset="utf-8")
		%meta(http-equiv="x-ua-compatible" content="ie=edge,chrome=1")
		-# Stylesheets
		-#%link{:rel => 'stylesheet', :type => 'text/css', :href => 'stylesheets/application.css'}
		-#%link{:rel => 'stylesheet', :type => 'text/css', :href => 'stylesheets/header.css'}
		-#%link{:rel => 'stylesheet', :type => 'text/css', :href => 'stylesheets/footer.css'}
		-#%link{:rel => 'stylesheet', :type => 'text/css', :href => 'stylesheets/fonts.css'}
		-#%link{:rel => 'stylesheet', :type => 'text/css', :href => 'stylesheets/left-column.css'}
		-#%link{:rel => 'stylesheet', :type => 'text/css', :href => 'stylesheets/bootstrap.css'}
		-#%link{:rel => 'stylesheet', :type => 'text/css', :href => 'stylesheets/jquery.bxslider.css'}
		%link{:rel => 'stylesheet', :type => 'text/css', :href => 'stylesheets/index.css'}

		/[if IE]
			%link{:rel => 'stylesheet', :type => 'text/css', :href => 'stylesheets/IE_main.css'}

		%script{:type => 'text/javascript', :src => 'javascripts/jquery.min.js'}
		%script{:type => 'text/javascript', :src => 'javascripts/jquery.bxslider.js'}
		%script{:type => 'text/javascript', :src => 'javascripts/bootstrap.js'}


	%body
		= yield
		= partial 'footer_main'
		%script{:type => 'text/javascript', :src => 'javascripts/header.js'}
		%script{:type => 'text/javascript', :src => 'javascripts/popover_forms.js'}
