html.lt-ie9
	.basket_elem_wrapper
		border: none
		position: relative
		height: 122px
		margin: 5px 5px 18px
		background: url(../images/ie-basket-background.jpg) repeat-x left top
		overflow: visible
		span.ie-border-left
			background: url(../images/ie-basket-border-left.jpg) no-repeat left top
			position: absolute
			width: 7px
			height: 122px
			left: -7px
			top: 0

		span.ie-border-right
			background: url(../images/ie-basket-border-right.jpg) no-repeat right top
			position: absolute
			width: 7px
			height: 122px
			right: -7px
			top: 0

		.basket_elem
			height: 122px

			.count
				border: none
				width: 57px
				height: 33px
				padding-top: 8px
				background: url(../images/ie-basket-count-background.jpg) no-repeat 0 0

			.updown
				height: 21px
				zoom: 1
				*display: inline

	.basket
		.total
			th
				text-align: left

			.bold
				padding-right: 10px



