html.lt-ie10
	.header
		background-image: url(../images/big_main_fon.png)
		background-position: left bottom
		background-repeat: repeat-x
		.slideup_info
			.elem
				background-color: rgb(95, 106, 138)

html.lt-ie9
	.header
		.header-content
			.header-menu
				li
					margin-right: 42px
		.top-gallery
			.elem
				.text-line
					background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAATSURBVHjaYmBgYEgGAAAA//8DAABoAGS1Mt+CAAAAAElFTkSuQmCC')
		div.kazah
			margin-left: -44px

html.lt-ie8
	.header
		.top-gallery
			margin-top: 10px
