.white_fon
.popover_block.user_callback
	%img.close-button{:src => 'images/close.png'}
	%form.form
		.background
			%fieldset
				%legend
					Обратный звонок
				%label{:for => 'user_fio'}
					ФИО
					%sup *
				%span.input_wrapper
					%span.ie-border-left
					%input{:id => 'user_fio', :type	=> 'text'}
					%span.ie-border-right

				%label{:for => 'phone'}
					Телефон
					%sup *
				%span.input_wrapper
					%span.ie-border-left
					%input{:id => 'phone', :type	=> 'text'}
					%span.ie-border-right

				%label{:for => 'message'}
					Комментарий
				%span.textarea_wrapper
					%span.ie-border-left
					%textarea{:id => 'message'}
					%span.ie-border-right


				%button{:type => 'submit', :class => 'button right'}
					%span.ie-border-left
					Заказать
					%span.ie-border-right
