%footer
	.footer-content
		.footer-top
			%img.logo{:src => './images/logo-small.png'}
			%ul.header-menu
				%li
					%a.header-menu{:href => '#'}
						О компании
				%li
					%a.header-menu{:href => '#'}
						Новости
				%li#menu1.dropup{:style=>'position:relative'}
					%a.header-menu.dropdown-toggle{:href => '#', 'data-toggle' => 'dropdown', 'aria-labelledby'=> 'dLabel'}
						Вся мебель
						%i.up-arrow
					.dropdown-menu
						.head
							%a.header-menu.dropdown-toggle{:href => '#', 'data-toggle' => 'dropdown', 'aria-labelledby'=> 'dLabel'}
								Вся мебель
								%i.up-arrow
						%h4
							Корпусная мебель
						%table#dropdown-table
							%tr
								%td
									%a{:href => '#'}
										Детская мебель
								%td
									%a{:href => '#'}
										Кровати
								%td
									%a{:href => '#'}
										Прикроватные тумбы
								%td
									%a{:href => '#'}
										Трюмо
							%tr
								%td
									%a{:href => '#'}
										Детская мебель
								%td
									%a{:href => '#'}
										Кровати
								%td
									%a{:href => '#'}
										Прикроватные тумбы
								%td
									%a{:href => '#'}
										Трюмо
							%tr
								%td
									%a{:href => '#'}
										Детская мебель
								%td
									%a{:href => '#'}
										Кровати
								%td
									%a{:href => '#'}
										Прикроватные тумбы
								%td
									%a{:href => '#'}
										Трюмо
							%tr
								%td
									%a{:href => '#'}
										Детская мебель
								%td
									%a{:href => '#'}
										Кровати
								%td
									%a{:href => '#'}
										Прикроватные тумбы
								%td
									%a{:href => '#'}
										Трюмо
						%hr
						%h4
							Матрасы
						%table#dropdown-table
							%tr
								%td
									%a{:href => '#'}
										Детская мебель
								%td
									%a{:href => '#'}
										Кровати
								%td
									%a{:href => '#'}
										Прикроватные тумбы
								%td
									%a{:href => '#'}
										Трюмо
							%tr
								%td
									%a{:href => '#'}
										Детская мебель
								%td
									%a{:href => '#'}
										Кровати
								%td
									%a{:href => '#'}
										Прикроватные тумбы
								%td
									%a{:href => '#'}
										Трюмо
				%li
					%a.header-menu{:href => '#'}
						Услуги
				%li
					%a.header-menu{:href => '#'}
						Поставщикам
				%li
					%a.header-menu{:href => '#'}
						Клиенты
				%li
					%a.header-menu{:href => '#'}
						Контакты
		.footer-middle
			.info-block
				%span.number-code
					+7(383)
				%span.number
					25-10-100
				%br
				%a{:href => ''}
					100@nika-nsk.ru
				%br
				%p
					г. Новосибирск
				%br
					ул. Арбузова 2/10

			%table.big-list
				%tr
					%th{:style => 'width: 185px'}
						Мебель
					%th
						Оплата
					%th
						Доставка
					%th
						Гарантии
					%th
						Клиентам
				%tr
					%td
						Детская мебель
					%td
						Журнальные столы
					%td
						Комоды
					%td
						Компьютерные столы
					%td
						FAQ
				%tr
					%td
						Детская мебель
					%td
						Журнальные столы
					%td
						Комоды
					%td
						Компьютерные столы
					%td
						FAQ
				%tr
					%td
						Детская мебель
					%td
						Журнальные столы
					%td
						Комоды
					%td
						Компьютерные столы
					%td
						FAQ
				%tr
					%td
						Детская мебель
					%td
						Журнальные столы
					%td
						Комоды
					%td
						Компьютерные столы
					%td
						FAQ
		.footer-bottom
			.left
				%p
					© Оптовая мебельная компания «Ника». Все права защищены.
			.right
				Разработка сайтов
				%a{:href=>'#'}
					Magnaweb
					%i.logo-Magnaweb