.white_fon
.popover_block.user_callback
	%img.close-button{:src => 'images/close.png'}
	%form.form
		.background
			%fieldset
				%legend
					Обратный звонок
				%label{:for => 'user_fio'}
					ФИО
					%sup *
				%input{:id => 'user_fio', :type	=> 'text'}

				%label{:for => 'phone'}
					Телефон
					%sup *
				%input{:id => 'phone', :type	=> 'text'}

				%label{:for => 'message'}
					Комментарий
				%textarea{:id => 'message'}
				%input{:type => 'submit', :value => 'Заказать', :class => 'right'}


.header
	.header-content
		.top-container
			.left
				%a{ :href=> '/'}
					%img.logo{:src => './images/logo.png'}
			.right
				%i{:class=>'basket'}
				%p
					%a{ :href=> '#'}
						В корзине
					%span.bold
						3
					товара
					%br
					на сумму
					%b
						210 000
					р.
				.not-signed-in
					%a.reg{:href => '#'}
						Регистрация на сайте
						%i.plus
					%a.reg{:href => '#'}
						Вход в личный кабинет
						%i.right-arrow

				.signed-in
					%a.with-icon.left-in{:href => '#'}
						%i.man
						Иван Иванов
					%a.with-icon.right-in{:href => '#'}
						Выход
						%i.exit
			.middle
				%button{:type => 'button', :class => 'head-button button', :id=> 'callback_request'}
					%span.ie-border-left
					Заказать звонок
					%span.ie-border-right
				.number-container
					%span{:class => 'number-code'} +7 (383)
					%span{:class => 'number'} 25-10-100
				%br
				%form#head-search
					.custom-input
						%span.left-border
						%input#search{:type => 'text', 'data-provide' => 'typeahead'}
						%span.right-border
					%button{:type => 'submit', :class => 'head-button button', :id=> 'search-head'}
						%span.ie-border-left
						Найти
						%i.loupe.head-loupe
						%span.ie-border-right
		.bottom-menu-container
			%ul.header-menu
				%li
					%a.header-menu{:href => '#'}
						О компании
				%li
					%a.header-menu{:href => '#'}
						Новости
				%li#menu1
					%a.header-menu.dropdown-toggle{:href => '#', 'data-toggle' => 'dropdown', 'aria-labelledby'=> 'dLabel'}
						Вся мебель
						%i.down-arrow
					.dropdown-menu
						.head
							%a.header-menu.dropdown-toggle{:href => '#', 'data-toggle' => 'dropdown', 'aria-labelledby'=> 'dLabel'}
								Вся мебель
								%i.down-arrow
						%h4
							Корпусная мебель
						%table#dropdown-table
							%tr
								%td
									%a{:href => '#'}
										Детская мебель
								%td
									%a{:href => '#'}
										Кровати
								%td
									%a{:href => '#'}
										Прикроватные тумбы
								%td
									%a{:href => '#'}
										Трюмо
							%tr
								%td
									%a{:href => '#'}
										Журнальные столы
								%td
									%a{:href => '#'}
										Кухник
								%td
									%a{:href => '#'}
										Прихожие
								%td
									%a{:href => '#'}
										Туалетные столики
							%tr
								%td
									%a{:href => '#'}
										Комоды
								%td
									%a{:href => '#'}
										Кухонные уголки
								%td
									%a{:href => '#'}
										Спальни
								%td
									%a{:href => '#'}
										Тумбы под ТВ
							%tr
								%td
									%a{:href => '#'}
										Компьютерные столы
								%td
									%a{:href => '#'}
										Обеденные столы
								%td
									%a{:href => '#'}
										Стенки
								%td
									%a{:href => '#'}
										Шкафы
						%hr
						%h4
							Матрасы
						%table#dropdown-table
							%tr
								%td
									%a{:href => '#'}
										Беспружинные
								%td
									%a{:href => '#'}
										Пружинные с блоком TFK
								%td
									%a{:href => '#'}
										Пружинные с блоком "боннель"



				%li
					%a.header-menu{:href => '#'}
						Услуги
				%li
					%a.header-menu{:href => '#'}
						Поставщикам
				%li
					%a.header-menu{:href => '#'}
						Клиентам
				%li
					%a.header-menu{:href => '#'}
						Контакты
			.kazah
				%a.normal{:href => '#'}
					%i.kazah
					Каз
