.left-column
	.left-column-content
		.tabbable
			%ul.nav.nav-tabs#type-category
				%li.active
					%a{:href => '#type', 'data-toggle' => 'tab'}
						Тип
				%li
					%a{:href => '#category', 'data-toggle' => 'tab'}
						Категория
			.tab-content
				.tab-pane.active#type#category
					%form#left-search
						.custom-input
							%span.left-border
							%input#left-search{:type => 'text', :placeholder => 'Поиск'}
							%span.right-border
						%button.button#left-search
							%span.ie-border-left
							%i.loupe{:src => 'images/icons.png'}
							%span.ie-border-right
					.top-list
						.h5
							Корпусная мебель
						%ul#furniture-list
							%li
								%a{:href => '#'}
									%i.children.furn
									Детская мебель
							%li
								%a{:href => '#'}
									%i.coffe-table.furn
									Журнальные столы
							%li
								%a{:href => '#'}
									%i.chest.furn
									Комоды
							%li
								%a{:href => '#'}
									%i.computer.furn
									Компьютерные столы
							%li
								%a{:href => '#'}
									%i.bed.furn
									Кровати
							%li
								%a{:href => '#'}
									%i.kitchen.furn
									Кухни
							%li
								%a{:href => '#'}
									%i.kitchen-corner.furn
									Кухонные уголки
							%li
								%a{:href => '#'}
									%i.dining-table.furn
									Обеденные столы
							%li
								%a{:href => '#'}
									%i.bedside-table.furn
									Прикроватные тумбы
							%li
								%a{:href => '#'}
									%i.hallway.furn
									Прихожие
							%li
								%a{:href => '#'}
									%i.bedroom.furn
									Спальни
							%li
								%a{:href => '#'}
									%i.cabinet.furn
									Стенки
							%li
								%a{:href => '#'}
									%i.pier-glass.furn
									Трюмо
							%li
								%a{:href => '#'}
									%i.dressing-table.furn
									Туалетные столики
							%li
								%a{:href => '#'}
									%i.tv-stand.furn
									Тумбы под ТВ
							%li
								%a{:href => '#'}
									%i.wardrobe.furn
									Шкафы

					.bottom-list
						.h5
							Матрасы
						%ul#furniture-list-second
							%li
								%a{:href => '#'}
									%i.no-spring.furn
									Беспружинные матрасы
							%li
								%a{:href => '#'}
									%i.spring-tfk.furn
									Пружинные матрасы с&nbsp;блоком TFK
							%li
								%a{:href => '#'}
									%i.spring-bonnel.furn
									Пружинные матрасы с&nbsp;блоком «боннель»