.header
	.top-gallery
		%ul#bx-top-gallery
			%li
				.elem
					%img{ :src=> './images/top-gallery/image_1.jpg'}
					.text-line
						Оптовые поставки мебели
					.button
						%button
							Партнерская программа

			%li
				.elem
					%img{ :src=> './images/top-gallery/image_2.jpg'}
					.text-line
						Быстро, качественно
					.button
						%button
							Партнерская программа

			%li
				.elem
					%img{ :src=> './images/top-gallery/image_1.jpg'}
					.text-line
						Надежно
					.button
						%button
							Партнерская программа


	.slideup_info
		.elem
			%img{ :src => 'images/delivery.jpg', :class => 'img_before'}
			%h3
				Низкие цены
			%p
				У нас есть служба доставки и поэтому мы поставляем быстро!

		.elem
			%img{ :src => 'images/delivery.jpg', :class => 'img_before'}
			%h3
				Складская программа
			%p
				У нас есть служба доставки и поэтому мы поставляем быстро!

		.elem
			%img{ :src => 'images/delivery.jpg', :class => 'img_before'}
			%h3
				Доставка
			%p
				У нас есть служба доставки и поэтому мы поставляем быстро!

		.elem
			%img{ :src => 'images/delivery.jpg', :class => 'img_before'}
			%h3
				Рекламные материалы
			%p
				У нас есть служба доставки и поэтому мы поставляем быстро!

		.elem
			%img{ :src => 'images/delivery.jpg', :class => 'img_before'}
			%h3
				Консультация персонала
			%p
				У нас есть служба доставки и поэтому мы поставляем быстро!



:javascript
	$(document).ready(function(){
		$('#bx-top-gallery').bxSlider({
		controls: true,
		pager: true
		});
	});