= partial 'callback_popover'

.header.main
	.header-content
		.top-container
			.left
				%a{:href => '/'}
					%img.logo{:src => './images/logo.png'}
			.right
				%i{:class=>'basket'}
				%p
					%a{ :href=> '#'}
						В корзине
					3 товара
					%br
					на сумму 210 000 р.
				%a.mini{:href => '#'}
					Регистрация на сайте
					%i.plus
				%a.mini{:href => '#'}
					Вход в личный кабинет
					%i.right-arrow

			.middle
				%button{:class => 'head-button button', :id=> 'callback_request'}
					%span.ie-border-left
					Заказать звонок
					%span.ie-border-right
				%span{:class => 'number-code'} +7 (383)
				%span{:class => 'number'} 25-10-100
				%br
				%form#head-search
					%input#search{:type => 'text', 'data-provide' => 'typeahead'}
					%button{:type => 'submit', :class => 'head-button button', :id=> 'search-head'}
						%span.ie-border-left
						Найти
						%i.loupe.head-loupe
						%span.ie-border-right
		.bottom-menu-container
			%ul.header-menu
				%li
					%a.header-menu{:href => '#'}
						О компании
				%li
					%a.header-menu{:href => '#'}
						Новости
				%li#menu1{:style=>'position:relative'}
					%a.header-menu.dropdown-toggle{:href => '#', 'data-toggle' => 'dropdown', 'aria-labelledby'=> 'dLabel'}
						Вся мебель
						%i.down-arrow
					.dropdown-menu
						.head
							%a.header-menu.dropdown-toggle{:href => '#', 'data-toggle' => 'dropdown', 'aria-labelledby'=> 'dLabel'}
								Вся мебель
								%i.down-arrow
						%h4
							Корпусная мебель
						%table#dropdown-table
							%tr
								%td
									%a{:href => '#'}
										Детская мебель
								%td
									%a{:href => '#'}
										Кровати
								%td
									%a{:href => '#'}
										Прикроватные тумбы
								%td
									%a{:href => '#'}
										Трюмо
							%tr
								%td
									%a{:href => '#'}
										Журнальные столы
								%td
									%a{:href => '#'}
										Кухник
								%td
									%a{:href => '#'}
										Прихожие
								%td
									%a{:href => '#'}
										Туалетные столики
							%tr
								%td
									%a{:href => '#'}
										Комоды
								%td
									%a{:href => '#'}
										Кухонные уголки
								%td
									%a{:href => '#'}
										Спальни
								%td
									%a{:href => '#'}
										Тумбы под ТВ
							%tr
								%td
									%a{:href => '#'}
										Компьютерные столы
								%td
									%a{:href => '#'}
										Обеденные столы
								%td
									%a{:href => '#'}
										Стенки
								%td
									%a{:href => '#'}
										Шкафы
						%hr
						%h4
							Матрасы
						%table#dropdown-table
							%tr
								%td
									%a{:href => '#'}
										Беспружинные
								%td
									%a{:href => '#'}
										Пружинные с блоком TFK
								%td
									%a{:href => '#'}
										Пружинные с блоком "боннель"

				%li
					%a.header-menu{:href => '#'}
						Услуги
				%li
					%a.header-menu{:href => '#'}
						Поставщикам
				%li
					%a.header-menu{:href => '#'}
						Клиентам
				%li
					%a.header-menu{:href => '#'}
						Контакты
			.kazah
				%a.normal{:href => '#'}
					%i.kazah
					Каз


	.top-gallery
		%ul#bx-top-gallery
			%li
				.elem
					%img{ :src=> './images/top-gallery/image_1.jpg'}
					.text-line
						Оптовые поставки мебели
					.button
						%button
							%span.ie-border-left
							Партнерская программа
							%span.ie-border-right

			%li
				.elem
					%img{ :src=> './images/top-gallery/image_2.jpg'}
					.text-line
						Быстро, качественно
					.button
						%button
							%span.ie-border-left
							Партнерская программа
							%span.ie-border-right

			%li
				.elem
					%img{ :src=> './images/top-gallery/image_1.jpg'}
					.text-line
						Надежно
					.button
						%button
							%span.ie-border-left
							Партнерская программа
							%span.ie-border-right


	.slideup_info
		.elem
			%span.ie-top-border
			%img{ :src => 'images/delivery.jpg', :class => 'img_before'}
			%span.h3
				Низкие цены
			%p
				У нас есть служба доставки и поэтому мы поставляем быстро!

		.elem
			%span.ie-top-border
			%img{ :src => 'images/delivery.jpg', :class => 'img_before'}
			%span.h3
				Складская программа
			%p
				У нас есть служба доставки и поэтому мы поставляем быстро!

		.elem
			%span.ie-top-border
			%img{ :src => 'images/delivery.jpg', :class => 'img_before'}
			%span.h3
				Доставка
			%p
				У нас есть служба доставки и поэтому мы поставляем быстро!

		.elem
			%span.ie-top-border
			%img{ :src => 'images/delivery.jpg', :class => 'img_before'}
			%span.h3
				Рекламные материалы
			%p
				У нас есть служба доставки и поэтому мы поставляем быстро!

		.elem
			%span.ie-top-border
			%img{ :src => 'images/delivery.jpg', :class => 'img_before'}
			%span.h3
				Консультации персонала
			%p
				У нас есть служба доставки и поэтому мы поставляем быстро!



:javascript
	$(document).ready(function(){
		$('#bx-top-gallery').bxSlider({
		controls: true,
		pager: true
		});
	});