.main-middle-gallery
	%span.h3
		Хиты продаж
	%ul.bx_middle_gallery
		%li
			.elem
				%img{:src => 'images/main-gallery/bestsellers/commode.jpg'}
				.price
					%span.number
						32 000
					р.
				%a{:href => '#'}
				
					Комод “Модерн”

		%li
			.elem
				%img{:src => 'images/main-gallery/bestsellers/children.jpg'}
				.price
					%span.number
						23 500
					р.
				%a{:href => '#'}
					Детская “Асмодей”

		%li
			.elem
				%img{:src => 'images/main-gallery/bestsellers/bedroom.jpg'}
				.price
					%span.number
						16 600
					р.
				%a{:href => '#'}
					Спальня “Венера”

		%li
			.elem
				%img{:src => 'images/main-gallery/bestsellers/commode.jpg'}
				.price
					%span.number
						32 000
					р.
				%a{:href => '#'}
					Комод “Модерн”

		%li
			.elem
				%img{:src => 'images/main-gallery/bestsellers/children.jpg'}
				.price
					%span.number
						23 500
					р.
				%a{:href => '#'}
					Детская “Асмодей”

		%li
			.elem
				%img{:src => 'images/main-gallery/bestsellers/bedroom.jpg'}
				.price
					%span.number
						16 600
					р.
				%a{:href => '#'}
					Спальня “Венера”

	%span.h3
		Акции
	%ul.bx_middle_gallery
		%li
			.elem
				%img{:src => 'images/main-gallery/stock/bedroom.jpg'}
				.price
					%span.number
						6 000
					р.
				%a{:href => '#'}
					Спальня “Венера”

		%li
			.elem
				%img{:src => 'images/main-gallery/stock/cabinet.jpg'}
				.price
					%span.number
						47 300
					р.
				%a{:href => '#'}
					Шкаф “Уголок”

		%li
			.elem
				%img{:src => 'images/main-gallery/stock/wall.jpg'}
				.price
					%span.number
						32 000
					р.
				%a{:href => '#'}
					Стенка “Волна”

		%li
			.elem
				%img{:src => 'images/main-gallery/stock/bedroom.jpg'}
				.price
					%span.number
						6 000
					р.
				%a{:href => '#'}
					Спальня “Венера”

		%li
			.elem
				%img{:src => 'images/main-gallery/stock/cabinet.jpg'}
				.price
					%span.number
						47 300
					р.
				%a{:href => '#'}
					Шкаф “Уголок”

		%li
			.elem
				%img{:src => 'images/main-gallery/stock/wall.jpg'}
				.price
					%span.number
						32 000
					р.
				%a{:href => '#'}
					Стенка “Волна”

	%span.h3
		Новинки
	%ul.bx_middle_gallery
		%li
			.elem
				%img{:src => 'images/main-gallery/novelty/children.jpg'}
				.price
					%span.number
						32 000
					р.
				%a{:href => '#'}
					Детская “Асмодей”

		%li
			.elem
				%img{:src => 'images/main-gallery/novelty/children.jpg'}
				.price
					%span.number
						23 500
					р.
				%a{:href => '#'}
					Шкаф “Космос”

		%li
			.elem
				%img{:src => 'images/main-gallery/novelty/wall.jpg'}
				.price
					%span.number
						16 600
					р.
				%a{:href => '#'}
					Стенка “Классик”

		%li
			.elem
				%img{:src => 'images/main-gallery/novelty/children.jpg'}
				.price
					%span.number
						32 000
					р.
				%a{:href => '#'}
					Детская “Асмодей”

		%li
			.elem
				%img{:src => 'images/main-gallery/novelty/stock.jpg'}
				.price
					%span.number
						23 500
					р.
				%a{:href => '#'}
					Шкаф “Космос”

		%li
			.elem
				%img{:src => 'images/main-gallery/novelty/wall.jpg'}
				.price
					%span.number
						16 600
					р.
				%a{:href => '#'}
					Стенка “Классик”

.about
	%p.large
		«Ника» - надёжный поставщик корпусной мебели и ортопедических матрасов
		по доступным ценам в Новосибирске, НСО, регионах РФ и Казахстане

	%p
		Основная деятельность компании «<a href='#'>Ника</a>» - оптовая продажа корпусной мебели и матрасов.
		Мы предлагаем <a href='#'>широкий ассортимент</a> корпусной мебели для дома, офиса,
		санаторно-гостиничных комплексов, учебно-образовательных и медицинских учреждений,
		а также производственных предприятий. Широкий модельный ряд,
		разнообразная цветовая гамма и демократичные цены удовлетворят потребности каждого оптового заказчика.
	%p
		Чтобы наши партнеры не испытывали сложности в организации получения продукции  в любой регион России и Казахстан,
		а так же дефицита в рекламной продукции, мы готовы предложить ряд <a href='#'>услуг</a>.
	%p
		Начать работать с нами просто! Перейдите на страницу <a href='#'>контакты</a>,
		выберите подходящий вам отдел и наберите номер телефона.

	%p.right
		Надеемся на сотрудничество!
	%p.author
		Коллектив компании «Ника»

:javascript
	$(document).ready(function(){
		$('.bx_middle_gallery').bxSlider({
			slideWidth: 260,
			minSlides: 3,
			maxSlides: 3,
			slideMargin: 29,
			controls: true,
			pager: false
		});
	});