.left-news-inside
	%span.h5
		Новости
	.news-small-container
		.news-header
			.date
				%span.date
					26 июня 2013
			%img{:src => 'images/news_small_picture.png'}
			.title
				%a{:href=> '#'}
					Распродажа кроватей
		.news-description
			Традиционная июньская
			распродажа двуспальных
			кроватей пройдет с 28 по 30 июня.
	.news-small-container
		.news-header
			.date
				%span.date
					26 июня 2013
			%img{:src => 'images/news_small_picture.png'}
			.title
				%a{:href=> '#'}
					Новое поступление
	.news-small-container
		.news-header
			.date
				%span.date
					26 июня 2013
			%img{:src => 'images/news_small_picture.png'}
			.title
				%a{:href=> '#'}
					Стенки из франции уже в Новосибирске