%ul.paginator
	%li.quotes.li1
		%a{:href => "javascript:function(){ return false; }"}
			%span.lt
			%span.lt.double
	%li.quotes.li2
		%a{:href => "javascript:function(){ return false; }"}
			%span.lt
	%li.li3
		%a{:href => "javascript:function(){ return false; }"} 1
	%li.li4
		%a{:href => "javascript:function(){ return false; }"} 2
	%li.li5
		%a{:href => "javascript:function(){ return false; }"} 3
	%li.quotes.li6
		%a{:href => "javascript:function(){ return false; }"}
			%span.qt
	%li.quotes.li7
		%a{:href => "javascript:function(){ return false; }"}
			%span.qt
			%span.qt.double