%ul.paginator
	%li.quotes
		%a{:href => "javascript:function(){ return false; }"}
			%span.lt
			%span.lt.double
	%li.quotes
		%a{:href => "javascript:function(){ return false; }"}
			%span.lt
	%li
		%a{:href => "javascript:function(){ return false; }"} 1
	%li
		%a{:href => "javascript:function(){ return false; }"} 2
	%li
		%a{:href => "javascript:function(){ return false; }"} 3
	%li.quotes
		%a{:href => "javascript:function(){ return false; }"}
			%span.qt
	%li.quotes
		%a{:href => "javascript:function(){ return false; }"}
			%span.qt
			%span.qt.double