%script{:type => 'text/javascript', :src => 'javascripts/basket.js'}
.basket
	%h1
		Корзина
	%form.form
		-1.upto(4).each do |i|
			%table.basket_elem
				%thead
					%tr
						%th.center
							фото
						%th
							название:
						%th
							вес:
						%th
							объём:
						%th
							цена:
						%th
							кол-во:
						%th.center
							удалить
				%tbody
					%tr
						%td.center
							%img{:src => 'images/small/stock.jpg'}
						%td
							Детская "Глобус #{i}"
						%td
							%span.elem_weight
								#{20 + i}
							кг.
						%td
							%span.elem_volume
								400#{i}
							см<sup>3</sup>.
						%td
							%span.elem_cost
								1#{i % 4} 000
							р.
						%td
							%input{:type => 'text', :class => 'count', :value => '1'}
							.updown
								%i.icon-up-arrow
								%i.icon-down-arrow
						%td.center
							%i.icon-delete


		.right
			%table.total
				%thead
					%tr
						%th.bold
							Итоговые
						%th.t-weight
							вес:
						%th.t-volume
							объём:
						%th.t-cost
							стоимость:
				%tbody
					%tr
						%td
							&nbsp;
						%td.t-weight
							%span.total_weight
								160
							кг.
						%td.t-volume
							%span.total_volume
								4002
							см<sup>3</sup>.
						%td.t-cost
							%span.total_cost
								32 000
							р.

			%input{:type => 'submit', :class => 'btn submit', :id => 'confirm-order', :value => 'оформить заказ'}
