%h1
	Детская мебель
%div.view
	%p Вид:
	%a.cubes.active{:href => "javascript:function(){ return false;}"} Плиткой
	%a.list{:href => "javascript:function(){ return false;}"} Списком
	%a{:href => "javascript:function(){ return false;}"} Показать все
%div.products
	- 1.upto(6).each do |i|
		%div.product-by-block
			%h2 Детская "Глобус 2"
			%p
				Артикул
				%b
					673849512
			%div.image
				// it's for centring image
				%div.wrap
					%div.left-div
						- if i == 6 || i == 2
							%img{:src => "images/action.png"}
						- if i == 1 || i == 5
							%img{:src => "images/hit.png"}

				%img{:src => "images/stock.jpg"}
			%div.spanner
				%p.price #{rand(11) + 5} 500 p.
				%i.icon-info
					%a.info{:href => "javascript: void(0);", :tabindex=> 1,
						:title => 'Нажмите для получения подробной информации'} ?
					.information
						Указана <b>рекомендованная</b> розничная цена в
						Новосибирске
						.separator
						Для того, чтобы увидеть оптовые цены вам необходимо
						%a{:href =>'#'}
							зарегистрироваться
				%a.buy.button{:href => "javascript: void(0);"}
					Купить
	%div.paginator-wrapper
		%ul.paginator
			%li.quotes
				%a{:href => "javascript: void(0);"} &lt;&lt;
			%li.quotes
				%a{:href => "javascript: void(0);"} &lt;
			%li
				%a{:href => "javascript: void(0);"} 1
			%li
				%a{:href => "javascript: void(0);"} 2
			%li
				%a{:href => "javascript: void(0);"} 3
			%li.quotes
				%a{:href => "javascript: void(0);"} &gt;
			%li.quotes
				%a{:href => "javascript: void(0);"} &gt;&gt;
