.news-wrapper
	%h1 Новости
	.news-container
		.news-block
			.image-block
				%img.news-image{:src => 'images/news-image.png'}
			.text-block
				%h5
					24.06.2013
					%a{:href => '#'}
						Новый поставщик фабрика "Фран" (г.Истра).
				%p
					Представляем нового поставщика мебельную фабрику "Фран" (г.Истра).
					Компания "Фран" производит мебель европейского качества по доступным ценам.
					Собственные дизайнерские разработки делают мебель "Фран" оригинальной и привлекательной.
		.news-block
			.image-block
				%img.news-image{:src => 'images/news-image.png'}
			.text-block
				%h5
					24.06.2013
					%a{:href => '#'}
						Новый поставщик фабрика "Фран" (г.Истра).
				%p
					Представляем нового поставщика мебельную фабрику "Фран" (г.Истра).
					Компания "Фран" производит мебель европейского качества по доступным ценам.
					Собственные дизайнерские разработки делают мебель "Фран" оригинальной и привлекательной.
		.news-block
			.image-block
				%img.news-image{:src => 'images/news-image.png'}
			.text-block
				%h5
					24.06.2013
					%a{:href => '#'}
						Новый поставщик фабрика "Фран" (г.Истра).
				%p
					Представляем нового поставщика мебельную фабрику "Фран" (г.Истра).
					Компания "Фран" производит мебель европейского качества по доступным ценам.
					Собственные дизайнерские разработки делают мебель "Фран" оригинальной и привлекательной.
		.news-block
			.image-block
				%img.news-image{:src => 'images/news-image.png'}
			.text-block
				%h5
					24.06.2013
					%a{:href => '#'}
						Новый поставщик фабрика "Фран" (г.Истра).
				%p
					Представляем нового поставщика мебельную фабрику "Фран" (г.Истра).
					Компания "Фран" производит мебель европейского качества по доступным ценам.
					Собственные дизайнерские разработки делают мебель "Фран" оригинальной и привлекательной.
		.news-block
			.image-block
				%img.news-image{:src => 'images/news-image.png'}
			.text-block
				%h5
					24.06.2013
					%a{:href => '#'}
						Новый поставщик фабрика "Фран" (г.Истра).
				%p
					Представляем нового поставщика мебельную фабрику "Фран" (г.Истра).
					Компания "Фран" производит мебель европейского качества по доступным ценам.
					Собственные дизайнерские разработки делают мебель "Фран" оригинальной и привлекательной.
	%div.paginator-wrapper
		%ul.paginator
			%li.quotes
				%a{:href => "javascript:function(){ return false; }"} &lt;&lt;
			%li.quotes
				%a{:href => "javascript:function(){ return false; }"} &lt;
			%li
				%a{:href => "javascript:function(){ return false; }"} 1
			%li
				%a{:href => "javascript:function(){ return false; }"} 2
			%li
				%a{:href => "javascript:function(){ return false; }"} 3
			%li.quotes
				%a{:href => "javascript:function(){ return false; }"} &gt;
			%li.quotes
				%a{:href => "javascript:function(){ return false; }"} &gt;&gt;

