.order_block
	%h1
		Оформление заказа

	%form.form.order-form
		.background
			%label{:for => 'user_fio'}
				Контактное лицо:
			%input{ :type => 'text', :id => 'user_fio'}

			%label{:for => 'user_fio'}
				Наименование организации:
			%input{ :type => 'text', :id => 'user_fio'}

			%label{:for => 'user_fio'}
				Телефон:
			%input{ :type => 'text', :id => 'user_fio'}

			%label{:for => 'user_fio'}
				e-mail:
			%input{ :type => 'text', :id => 'user_fio'}

			%label{:for => 'user_fio'}
				Адрес организации:
			%input{ :type => 'text', :id => 'user_fio'}

			%label{:for => 'user_fio'}
				Адрес доставки:
			%input{ :type => 'text', :id => 'user_fio'}

			%label{:for => 'user_fio'}
				Комментарий:
			%textarea

		%input{:type => 'submit', :value => 'продолжить оформление'}


