%link{:rel => 'stylesheet', :type => 'text/css', :href => 'stylesheets/basket.css'}
.basket
	%h3
		Ваш заказ

	%table.basket_elem
		%thead
			%tr
				%th.center
					Фото
				%th
					Название
				%th
					Артикул
				%th
					Цена
				%th.center
					Кол-во
		%tbody
			%tr
				%td.center
					%img{:src => 'images/small/stock.jpg'}
				%td
					Детская "Глобус 2"
				%td
					6783849512
				%td
					32 000 р.
				%td.center
					1

	%table.basket_elem
		%thead
			%tr
				%th.center
					Фото
				%th
					Название
				%th
					Артикул
				%th
					Цена
				%th.center
					Кол-во
		%tbody
			%tr
				%td.center
					%img{:src => 'images/small/stock.jpg'}
				%td
					Детская "Глобус 2"
				%td
					6783849512
				%td
					32 000 р.
				%td.center
					1

	%table.basket_elem
		%thead
			%tr
				%th.center
					Фото
				%th
					Название
				%th
					Артикул
				%th
					Цена
				%th.center
					Кол-во
		%tbody
			%tr
				%td.center
					%img{:src => 'images/small/stock.jpg'}
				%td
					Детская "Глобус 2"
				%td
					6783849512
				%td
					32 000 р.
				%td.center
					1

	%table.basket_elem
		%thead
			%tr
				%th.center
					Фото
				%th
					Название
				%th
					Артикул
				%th
					Цена
				%th.center
					Кол-во
		%tbody
			%tr
				%td.center
					%img{:src => 'images/small/stock.jpg'}
				%td
					Детская "Глобус 2"
				%td
					6783849512
				%td
					32 000 р.
				%td.center
					1

	%table.total.right-space
		%thead
			%tr
				%th.center
					Общая стоимость заказа:
		%tbody
			%tr
				%td.center
					32 000 р.
	%input{:type => 'submit', :class => 'btn submit', :value => 'подтвердить заказ'}