.left-product-column
	%ul#bx-product-gallery
		%li
			%a.next-slider{:href => '#'}
				%img{:src => 'images/main-gallery/stock/cabinet.jpg'}
		%li
			%a.next-slider{:href => '#'}
				%img{:src => 'images/main-gallery/stock/bedroom.jpg'}
		%li
			%a.next-slider{:href => '#'}
				%img{:src => 'images/main-gallery/stock/wall.jpg'}
		%li
			%a.next-slider{:href => '#'}
				%img{:src => 'images/main-gallery/stock/cabinet.jpg'}
		%li
			%a.next-slider{:href => '#'}
				%img{:src => 'images/main-gallery/stock/wall.jpg'}

	#bx-product-gallery-control
		%a{:href => '#', 'data-slide-index' => 0}
			%img{:src => 'images/main-gallery/stock/cabinet.jpg'}
		%a{:href => '#', 'data-slide-index' => 1}
			%img{:src => 'images/main-gallery/stock/bedroom.jpg'}
		%a{:href => '#', 'data-slide-index' => 2}
			%img{:src => 'images/main-gallery/stock/wall.jpg'}
		%a{:href => '#', 'data-slide-index' => 3}
			%img{:src => 'images/main-gallery/stock/cabinet.jpg'}
		%a{:href => '#', 'data-slide-index' => 4}
			%img{:src => 'images/main-gallery/stock/wall.jpg'}




.right-product-column
	%span.h1
		Комод Модерн
	%table.furniture_info
		%tbody
			%tr.odd
				%th
					Производитель
				%td
					%a{:href => '#'}
						“Фабрика мебели”, г. Бийск
			%tr
				%th
					Артикул
				%td
					673849512
			%tr.odd
				%th
					Цвет
				%td
					.color
						.info-block
							%table
								%tr
									%th
										Ножки:
									%td
										Черный
								%tr
									%th
										Ручки:
									%td
										Черный
								%tr
									%th
										Массив:
									%td
										Черный
						%img{:src => 'images/colors/1-color.png'}
					.color
						.info-block
							%table
								%tr
									%th
										Ножки:
									%td
										Коричневый
								%tr
									%th
										Ручки:
									%td
										Коричневый
								%tr
									%th
										Массив:
									%td
										Коричневый
						%img{:src => 'images/colors/2-color.png'}
					.color
						.info-block
							%table
								%tr
									%th
										Ножки:
									%td
										Бежевый
								%tr
									%th
										Ручки:
									%td
										Бежевый
								%tr
									%th
										Массив:
									%td
										Бежевый
						%img{:src => 'images/colors/1-color.png'}
					.color
						.info-block
							%table
								%tr
									%th
										Ножки:
									%td
										Коричневый
								%tr
									%th
										Ручки:
									%td
										Коричневый
								%tr
									%th
										Массив:
									%td
										Бежевый
						%img{:src => 'images/colors/2-color.png'}
					.color
						.info-block
							%table
								%tr
									%th
										Ножки:
									%td
										Коричневый
								%tr
									%th
										Ручки:
									%td
										Черный
								%tr
									%th
										Массив:
									%td
										Бежевый
						%img{:src => 'images/colors/3-color.png'}

			%tr
				%th
					Ширина
				%td
					3000 мм.

			%tr.odd
				%th
					Высота
				%td
					2000 мм.
			%tr
				%th
					Глубина
				%td
					560 мм.
			%tr.odd
				%th
					Материал
				%td
					ЛДСП, ПВХ
			%tr
				%th
					Остаток
				%td
					.product_field
						.product_count{:style => "width: #{9 * 6}px"}
					есть на складе

	%table.price-table
		%tr
			%td.city
				Розничная цена в
				Новосибирске
			%td.price
				32 000
				р.
				%i.icon-info
					%a.info{:href=>'javascript:void(0);', :tabindex => 1}
						?
					.information
						Указана <b>рекомендованная</b> розничная цена в
						Новосибирске
						.separator
						Для того, чтобы увидеть оптовые цены вам необходимо
						%a{:href =>'#'}
							зарегистрироваться
			%td
				%button
					Купить

%p
	Хорус, следовательно, полифигурно иллюстрирует звукорядный рок-н-ролл 50-х,
	таким образом конструктивное состояние всей музыкальной ткани или какой-либо из
	составляющих ее субструктур (в том числе: временнoй, гармонической, динамической, тембровой, темповой)
	возникает как следствие их выстраивания на основе определенного ряда (модуса).

.additional_block
	%span.h5
		Сопутствующие товары
	.elem
		%img{:src => 'images/main-gallery/stock/wall.jpg'}
		%a{:href =>'#'}
			Полка “ПН-6”
		.price
			2 600 p.
	.elem
		%img{:src => 'images/main-gallery/stock/wall.jpg'}
		%a{:href =>'#'}
			Полка “ПН-6”
		.price
			2 600 p.
	.elem
		%img{:src => 'images/main-gallery/stock/wall.jpg'}
		%a{:href =>'#'}
			Полка “ПН-6”
		.price
			2 600 p.

.additional_block
	%span.h5
		Похожие товары
	.elem
		%img{:src => 'images/main-gallery/stock/wall.jpg'}
		%a{:href =>'#'}
			Полка “ПН-6”
		.price
			2 600 p.
	.elem
		%img{:src => 'images/main-gallery/stock/wall.jpg'}
		%a{:href =>'#'}
			Полка “ПН-6”
		.price
			2 600 p.
	.elem
		%img{:src => 'images/main-gallery/stock/wall.jpg'}
		%a{:href =>'#'}
			Полка “ПН-6”
		.price
			2 600 p.



:javascript
	$(document).ready(function(){
		$('#bx-product-gallery').bxSlider({
			controls: true,
			adaptiveHeight: false,
			pagerCustom: '#bx-product-gallery-control',
			nextSelector: '.next-slider'
		});
	});