.order_block
	%span.h1
		Регистрация

	%form.form.narrow
		.background
			%label{:for => 'user_fio'}
				контактное лицо:
			%span.input_wrapper
				%span.ie-border-left
				%input{ :type => 'text', :id => 'user_fio'}
				%span.ie-border-right

			%label{:for => 'user_organization'}
				наименование организации:
			%span.input_wrapper
				%span.ie-border-left
				%input{ :type => 'text', :id => 'user_organization'}
				%span.ie-border-right

			%label{:for => 'user_phone'}
				телефон:
			%span.input_wrapper
				%span.ie-border-left
				%input{ :type => 'text', :id => 'user_phone'}
				%span.ie-border-right

			%label{:for => 'user_email'}
				e-mail:
			%span.input_wrapper
				%span.ie-border-left
				%input{ :type => 'text', :id => 'user_email'}
				%span.ie-border-right

			%label{:for => 'user_organization_address'}
				адрес организации:
			%span.input_wrapper
				%span.ie-border-left
				%input{ :type => 'text', :id => 'user_organization_address'}
				%span.ie-border-right

			%label{:for => 'user_delivery_address'}
				адрес доставки:
			%span.input_wrapper
				%span.ie-border-left
				%input{ :type => 'text', :id => 'user_delivery_address'}
				%span.ie-border-right

			%label{:for => 'user_comment'}
				комментарий:
			%span.textarea_wrapper
				%span.ie-border-left
				%textarea{:id => 'user_comment'}
				%span.ie-border-right

		%button{:type => 'submit', :class=> 'button'}
			%span.ie-border-left
			зарегистрироваться
			%span.ie-border-right




