.order_block
	%h1
		Регистрация

	%form.form.narrow
		.background
			%label{:for => 'user_fio'}
				контактное лицо:
			%input{ :type => 'text', :id => 'user_fio'}

			%label{:for => 'user_fio'}
				наименование организации:
			%input{ :type => 'text', :id => 'user_fio'}

			%label{:for => 'user_fio'}
				телефон:
			%input{ :type => 'text', :id => 'user_fio'}

			%label{:for => 'user_fio'}
				e-mail:
			%input{ :type => 'text', :id => 'user_fio'}

			%label{:for => 'user_fio'}
				адрес организации:
			%input{ :type => 'text', :id => 'user_fio'}

			%label{:for => 'user_fio'}
				адрес доставки:
			%input{ :type => 'text', :id => 'user_fio'}

			%label{:for => 'user_fio'}
				комментарий:
			%textarea

		%input{:type => 'submit', :value => 'зарегестрироваться'}


